@keyframes wheelHueColor {
    from, to { color: rgb(236,100,75); }
    10%      { color: rgb(219,10,91); }
    20%      { color: rgb(174,168,211); }
    30%      { color: rgb(89,171,227); }
    40%      { color: rgb(37,116,169); }
    50%      { color: rgb(3,201,169); }
    60%      { color: rgb(22,160,133); }
    70%      { color: rgb(233,212,96); }
    80%      { color: rgb(243,156,18); }
    90%      { color: rgb(236,240,241); }
}

.mahi {
    color: rgb(236,100,75);
    animation: wheelHueColor 20s infinite;
    text-align: center;
    font-size: 200px;
    margin-top: 50vh;
    transform: translateY(-50%);
}

body {
    background-color: rgb(189,195,199);
    font-family: 'Open Sans', sans-serif;
}